.carousel {
    display: flex;
}

.slider {
    width: 40rem;
    border: .1px solid #b7b5b5;
    padding: 8px 18px;
    height: 18rem;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    transition: all .2s ease-in;
    box-shadow: 0 4px 8px rgba(56, 4, 14, 0.5);
}

.slider:hover {
    border: .1px solid #38040e;
}

.review {
    text-align: justify;
    color: grey;
    font-size: 1.3rem;
}

.title {
    font-size: 2rem;
    font-weight: 300;
}

.para {
    font-size: 1rem;
    color: grey;
}

.indicator {
    border-radius: 50%;
    border: none;
    background-color: #e5e5e5;
    padding: 5px;
    border: .1px solid grey;
    margin-top: 10px;
}

.indicator-inactive {
    background-color: #38040e;
}

.buttons {
    display: flex;
    gap: 5px;
}

.arrows {
    display: flex;
    gap: 20px;
}

.left {
    font-size: 50px;
    cursor: pointer;
    color: #8c8a8a;
    transition: all .2s ease-in;
}

.right {
    font-size: 50px;
    cursor: pointer;
    color: #8c8a8a;
    transition: all .3s ease-in;
}

.left:hover {
    color: black;
}

.right:hover {
    color: black;
}

.slider-hidden {
    display: none;
}

.slider .role {
    text-align: center;
}


/* responsiveness */
@media (max-width: 880px) {

    .title {
        font-size: 1.8rem;
    }
    
    .para {
        font-size: .9rem;
    }
}

@media (max-width: 680px) {
    .slider {
        width: 30rem;
    }

    .title {
        font-size: 1.6rem;
    }
    
    .para {
        font-size: .7rem;
    }
}

@media (max-width: 495px) {
    .slider{
        width: 20rem;
    }

    .review {
        font-size: 1rem;
    }

    .name{
        font-size: .8rem;
    }

    .role{
        font-size: .8rem;
    }
}

@media (max-width: 330px) {
    .slider{
        width: 15rem;
    }
}